In [1]:
!pip install -r ../requirements.txt

Requirement already satisfied: numpy in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 1)) (2.3.2)
Requirement already satisfied: pandas in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 2)) (2.3.1)
Requirement already satisfied: scikit-learn in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 3)) (1.7.1)
Requirement already satisfied: openai in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 4)) (1.99.7)
Requirement already satisfied: groq in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 5)) (0.31.0)
Requirement already satisfied: seaborn in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 6)) (0.13.2)
Requirement already satisfied: dotenv in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 7)) (0.9.9)
Requirement already satisfied: matplotlib in d:\installation\anaconda\envs\myenv\lib\site-packages (from -r ../requirements.txt (line 8)) (3.10.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pandas->-r ../requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 3)) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 3)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from scikit-learn->-r ../requirements.txt (line 3)) (3.6.0)
Requirement already satisfied: anyio<5,>=3.5.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (4.10.0)
Requirement already satisfied: distro<2,>=1.7.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (2.11.7)
Requirement already satisfied: sniffio in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (1.3.1)
Requirement already satisfied: tqdm>4 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (4.67.1)
Requirement already satisfied: typing-extensions<5,>=4.11 in d:\installation\anaconda\envs\myenv\lib\site-packages (from openai->-r ../requirements.txt (line 4)) (4.14.1)
Requirement already satisfied: idna>=2.8 in d:\installation\anaconda\envs\myenv\lib\site-packages (from anyio<5,>=3.5.0->openai->-r ../requirements.txt (line 4)) (3.10)
Requirement already satisfied: certifi in d:\installation\anaconda\envs\myenv\lib\site-packages (from httpx<1,>=0.23.0->openai->-r ../requirements.txt (line 4)) (2025.8.3)
Requirement already satisfied: httpcore==1.* in d:\installation\anaconda\envs\myenv\lib\site-packages (from httpx<1,>=0.23.0->openai->-r ../requirements.txt (line 4)) (1.0.9)
Requirement already satisfied: h11>=0.16 in d:\installation\anaconda\envs\myenv\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->-r ../requirements.txt (line 4)) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r ../requirements.txt (line 4)) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r ../requirements.txt (line 4)) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from pydantic<3,>=1.9.0->openai->-r ../requirements.txt (line 4)) (0.4.1)
Requirement already satisfied: python-dotenv in d:\installation\anaconda\envs\myenv\lib\site-packages (from dotenv->-r ../requirements.txt (line 7)) (1.1.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (1.3.3)
Requirement already satisfied: cycler>=0.10 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (1.4.9)
Requirement already satisfied: packaging>=20.0 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (25.0)
Requirement already satisfied: pillow>=8 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\installation\anaconda\envs\myenv\lib\site-packages (from matplotlib->-r ../requirements.txt (line 8)) (3.2.3)
Requirement already satisfied: six>=1.5 in d:\installation\anaconda\envs\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas->-r ../requirements.txt (line 2)) (1.17.0)
Requirement already satisfied: colorama in d:\installation\anaconda\envs\myenv\lib\site-packages (from tqdm>4->openai->-r ../requirements.txt (line 4)) (0.4.6)

Import Dependancies

In [2]:
import numpy as np
import pandas as pd
import os #if im not know about my current library
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('./data/processed/ChurnModeling_Binning_Applied.csv')
df.head()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,42.00,2,0.00,1,1,1,101348.88,1,fair
1,Spain,Female,41.00,1,83807.86,1,0,1,112542.58,0,fair
2,France,Female,42.00,8,159660.80,3,1,0,113931.57,1,poor
3,France,Female,38.91,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,43.00,2,125510.82,1,1,1,79084.10,0,NaN

Nominal => One-Hot encoding
Ordinal => Label Encoding

consider Gender<Male,Female>(Assuming gender is nominal)
from one-hot encoding it will create two columns that are Gender_Male,Gendder_Female


if Gender is Ordinal 
Male => 1
female => 0

In [ ]:
 Gender --> Nominal
 Geography --> Nominal
 CreditScoreBins --> Ordinal

Encode Nomminal Variables

In [ ]:
nominal_variables = ['Geography','Gender']
#can don easily using sciking-learning label encoder

Geography_dummies = pd.get_dummies(df['Geography'],prefix='Geography')
Geography_dummies
df_encoded = pd.concat([df,Geography_dummies],axis=1)
del df_encoded['Geography']
df_encoded

,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain
0,Female,42.00,2,0.00,1,1,1,101348.88,1,fair,True,False,False
1,Female,41.00,1,83807.86,1,0,1,112542.58,0,fair,False,False,True
2,Female,42.00,8,159660.80,3,1,0,113931.57,1,poor,True,False,False
3,Female,38.91,1,0.00,2,0,0,93826.63,0,Good,True,False,False
4,Female,43.00,2,125510.82,1,1,1,79084.10,0,NaN,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Male,39.00,5,0.00,2,1,0,96270.64,0,Very Good,True,False,False
9996,Male,35.00,10,57369.61,1,1,1,101699.77,0,poor,True,False,False
9997,Female,36.00,7,0.00,1,0,1,42085.58,1,Good,True,False,False
9998,Male,42.00,3,75075.31,2,1,0,92888.52,1,Very Good,False,True,False
9999,Female,28.00,4,130142.79,1,1,0,38190.78,0,Very Good,True,False,False

In [13]:
Gender_dummies = pd.get_dummies(df_encoded['Gender'],prefix='Gender')
df_encoded = pd.concat([df_encoded,Gender_dummies],axis=1)  
del df_encoded['Gender']
df_encoded

,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,42.00,2,0.00,1,1,1,101348.88,1,fair,True,False,False,True,False
1,41.00,1,83807.86,1,0,1,112542.58,0,fair,False,False,True,True,False
2,42.00,8,159660.80,3,1,0,113931.57,1,poor,True,False,False,True,False
3,38.91,1,0.00,2,0,0,93826.63,0,Good,True,False,False,True,False
4,43.00,2,125510.82,1,1,1,79084.10,0,NaN,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,39.00,5,0.00,2,1,0,96270.64,0,Very Good,True,False,False,False,True
9996,35.00,10,57369.61,1,1,1,101699.77,0,poor,True,False,False,False,True
9997,36.00,7,0.00,1,0,1,42085.58,1,Good,True,False,False,True,False
9998,42.00,3,75075.31,2,1,0,92888.52,1,Very Good,False,True,False,False,True
9999,28.00,4,130142.79,1,1,0,38190.78,0,Very Good,True,False,False,True,False

Encode Ordinal Variables

In [16]:
crei_score_unique = df_encoded['CreditScoreBins'].unique()
crei_score_unique

array(['fair', 'poor', 'Good', nan, 'excellent', 'Very Good'],
      dtype=object)

In [ ]:
encode_dict_creditscore = {

                            'poor':0,
                            'fair':1,
                            'Good':2,
                            ''	
                             
                        }